apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: vm-sample-acm-placement
  namespace: openshift-gitops
spec:
  generators:
    - clusterDecisionResource:
        configMapRef: acm-placement
        labelSelector:
          matchLabels:
            cluster.open-cluster-management.io/placement: vm-sample-acm-placement-placement
        requeueAfterSeconds: 180
  template:
    metadata:
      name: vm-sample-acm-placement-{{name}}
      labels:
        velero.io/exclude-from-backup: "true"
    spec:
      project: default
      sources:
        - repoURL: https://github.com/giofontana/gitops-ocp-infra.git
          targetRevision: main
          path: gitops/manifests/workloads/vm-sample-acm/base
      destination:
        namespace: vm-sample-acm
        server: "{{server}}"
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true

