apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    opendatahub.io/notebook-image-creator: gfontana@redhat.com
    opendatahub.io/notebook-image-desc: ""
    opendatahub.io/notebook-image-name: sdxl-ministudio
    opendatahub.io/notebook-image-url: quay.io/rh-aiservices-bu/sdxl-ministudio
    opendatahub.io/recommended-accelerators: '[]'
  labels:
    app.kubernetes.io/created-by: byon
    opendatahub.io/dashboard: "true"
    opendatahub.io/notebook-image: "true"
  name: sdxl-ministudio
  namespace: redhat-ods-applications
spec:
  lookupPolicy:
    local: true
  tags:
  - annotations:
      opendatahub.io/notebook-python-dependencies: '[]'
      opendatahub.io/notebook-software: '[]'
      openshift.io/imported-from: quay.io/rh-aiservices-bu/sdxl-ministudio
    from:
      kind: DockerImage
      name: quay.io/rh-aiservices-bu/sdxl-ministudio
    generation: 2
    importPolicy:
      importMode: Legacy
    name: latest
    referencePolicy:
      type: Source