apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  annotations:
    opendatahub.io/apiProtocol: REST
    opendatahub.io/recommended-accelerators: '["nvidia.com/gpu"]'
    opendatahub.io/serving-runtime-scope: global
    opendatahub.io/template-display-name: Custom - vLLM ServingRuntime - RTX3090
    opendatahub.io/template-name: template-pdmjm8
    openshift.io/display-name: Custom - vLLM ServingRuntime - RTX3090
  labels:
    opendatahub.io/dashboard: "true"
  name: qwenqwen3-vl-8b-instruct-fp8
  namespace: llm-models
spec:
  annotations:
    opendatahub.io/kserve-runtime: vllm
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"
  containers:
  - args:
    - --model=/mnt/models/
    - --port=8080
    - --served-model-name={{.Name}}
    command:
    - python
    - -m
    - vllm.entrypoints.openai.api_server
    env:
    - name: HF_HOME
      value: /tmp/hf_home
    image: registry.redhat.io/rhaiis/vllm-cuda-rhel9:3.2.5
    name: kserve-container
    ports:
    - containerPort: 8080
      protocol: TCP
  multiModel: false
  supportedModelFormats:
  - autoSelect: true
    name: vLLM
