apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  annotations:
    opendatahub.io/connection-path: qwen3-vl-8b-instruct-fp8
    opendatahub.io/connections: llm-models
    opendatahub.io/hardware-profile-name: nvidia-gpu
    opendatahub.io/hardware-profile-namespace: redhat-ods-applications
    opendatahub.io/model-type: generative
    openshift.io/description: ""
    openshift.io/display-name: Qwen/Qwen3-VL-8B-Instruct-FP8
    security.opendatahub.io/enable-auth: "false"
    serving.kserve.io/deploymentMode: RawDeployment
    serving.kserve.io/stop: "false"
  name: qwenqwen3-vl-8b-instruct-fp8
  namespace: llm-models
spec:
  predictor:
    automountServiceAccountToken: false
    maxReplicas: 1
    minReplicas: 1
    model:
      args:
      - --max-model-len=30000
      - --served-model-name=Qwen/Qwen3-VL-8B-Instruct-FP8
      - --enable-auto-tool-choice
      - --tool-call-parser=llama3_json
      modelFormat:
        name: vLLM
      name: ""
      resources:
        limits:
          cpu: "2"
          memory: 4Gi
          nvidia.com/gpu: "1"
        requests:
          cpu: "2"
          memory: 4Gi
          nvidia.com/gpu: "1"
      runtime: qwenqwen3-vl-8b-instruct-fp8
      storage:
        key: llm-models
        path: qwen3-vl-8b-instruct-fp8
    nodeSelector:
      nvidia.com/gpu.present: "true"
    serviceAccountName: llm-models-sa