apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  annotations:
    opendatahub.io/connection-path: sdxl
    opendatahub.io/connections: secret-text-to-image-gen-v2.1
    opendatahub.io/hardware-profile-name: nvidia-gpu
    opendatahub.io/hardware-profile-namespace: redhat-ods-applications
    opendatahub.io/model-type: generative
    openshift.io/description: ""
    openshift.io/display-name: sdxl
    security.opendatahub.io/enable-auth: "false"
    serving.kserve.io/deploymentMode: RawDeployment
    serving.kserve.io/stop: "true"
  name: sdxl
  namespace: llm-models
spec:
  predictor:
    automountServiceAccountToken: false
    maxReplicas: 1
    minReplicas: 1
    model:
      args:
      - --device=cuda
      modelFormat:
        name: sdxl
      name: ""
      resources:
        limits:
          cpu: "200"
          memory: 400Gi
          nvidia.com/gpu: "1"
        requests:
          cpu: "2"
          memory: 4Gi
          nvidia.com/gpu: "1"
      runtime: kserve-sdxl
      storageUri: pvc://text-to-image-model/model
    nodeSelector:
      gpu: "true"
    serviceAccountName: llm-models-sa