apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: power-monitoring-operator
  namespace: openshift-operators
spec:
  channel: tech-preview
  installPlanApproval: Manual
  name: power-monitoring-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: power-monitoring-operator.v0.5.0
---
apiVersion: kepler.system.sustainable.computing.io/v1alpha1
kind: PowerMonitor
metadata:
  name: power-monitor
spec:
  kepler:
    config:
      logLevel: info
      maxTerminated: 500
      metricLevels:
        - node
        - pod
        - vm
      sampleRate: 5s
      staleness: 500ms
    deployment:
      nodeSelector:
        kubernetes.io/os: linux
      security:
        allowedSANames:
          - 'openshift-user-workload-monitoring:prometheus-user-workload'
        mode: none
      tolerations:
        - operator: Exists  