---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

resources:
  - github.com/giofontana/gitops-catalog/metallb-operator/operator/overlays/stable
  - github.com/giofontana/gitops-catalog/metallb-operator/instance/overlays/default